@import '../../styles/base/settings';

.header {
    padding: 1rem 1.5rem;
    background: linear-gradient(to left top, $red, $violet, $blue-light);
    color: white;
    display: flex;
    justify-content: space-between;

    &-container_title {
        margin: 0;
        font-size: 1rem;
    }

    &-container_subtitle {
        font-size: 13px;
        font-weight: 400;
        margin: 0;
    }
}