<main class="main">
    <nav class="main_nav">
        <img routerLink="/" src="../../assets/shared/icon-arrow-left.svg">
        <button class="main_nav_button" routerLink="/">Go Back</button>
    </nav>
    <div class="container-card">
        <!-- TODO: put general img -->
        <img class="container-card_img" src="../../assets/shared/icon-new-feedback.svg" alt="">
        <form>
            <h2 class="container-card_title">{{ title }}</h2>

            <!-- Input component -->
            <app-input
                [label]="labelInput"
                [description]="descriptionInput"
            ></app-input>

            <!-- Select component -->
            <app-select 
                [label]="labelCategory"
                [description]="descriptionCategory"
                [options]="categories"
            ></app-select>

            <!-- Textarea component -->
            <app-textarea
                [label]="labelTextarea"
                [description]="descriptionTextarea"
            ></app-textarea>
            
            <div class="container-buttons">
                <!-- Buttons -->
                <app-button class="container-buttons_button" [text]="addFeedbackButton"></app-button>
                <app-button class="container-buttons_button" [text]="cancelButton"></app-button>
            </div>
        </form>
    </div>
</main>