@import '../../../../styles/base/all';

.main {
    background-color: $gray-light;
    // height: 100vh;
    padding: 32px 24px;
    padding: 24px;

    &_nav {
        color: $gray-dark;
        font-weight: 700;

        &_button {
            margin-left: 16px;
            font-size: 13px;
        }
    }

    .container-card {
        background-color: $white;
        border-radius: 10px;
        margin-top: 60px;
        padding: 44px 24px 24px 24px;

        &_img {
            position: absolute;
            top: 11%;
            width: 40px;
            left: 14%;
        }

        &_title {
            color: $gray-extra-dark;
            font-size: 18px;
        }
    }

    .container-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
        margin-top: 40px;

        &_button {
            width: 100%;
        }
    }
}