@import '../../../styles/base/settings';

.main-background {
    background-color: $gray-light;
    padding: 1rem 1.5rem 4rem 1.5rem;

    .suggestion-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }
}