// TODO: group same styles to mixin
// TODO: add style when hover, focus, disabled
.primary-button {
    background-color: $violet;
    font-size: 13px;
    color: $white;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
}

.secondary-button {
    background-color: $gray-extra-dark;
    font-size: 13px;
    color: $white;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
}

.tertiary-button {
    background-color: $blue;
    font-size: 13px;
    color: $white;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
}

.warning-button {
    background-color: $red;
    font-size: 13px;
    color: $white;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 10px;
}