<div class="no-suggestion-card">
    <img class="no-suggestion-card_img" src="../../../../assets/suggestions/illustration-empty.svg" alt="image for no feedback">
    <!-- duda sobre el src -->
    <!-- <img src="/src/assets/suggestions/illustration-empty.svg" alt=""> -->
    <h2 class="no-suggestion-card_title">
        There is no feedback yet.
    </h2>
    <p class="no-suggestion-card_description">
        Got a suggestion? Found a bug that needs to be squashed? 
        We love hearing about new ideas to improve our app.
    </p>
    <button class="primary-button">
        + Add Feedback
    </button>
</div>