// =============================================================================
// SETTINGS
// =============================================================================

// Generic Colors
$white: #ffffff;
$black: #000000;

$gray-extra-dark: #3A4374;
$gray-dark: #647196;
$gray: #F2F4FF;
$gray-light: #F7F8FD;

$violet: #AD1FEA;
$orange: #F49F85;
$blue: #4661E6;
$blue-light: #62BCFA;
$red: #D73737;

// Status color
$danger-color: $red;
$success-color: $blue;

// Input
$label-color: $gray;
$label-color--focus: $gray-dark;
$label-color--disabled: $gray-light;
$label-color--error: $danger-color;
$placeholder-color: $gray-light;
$placeholder-color--disabled: $gray-light;
$background-color: $gray-light;

// Border and line
$border-color: $blue;
$border-line: 1px solid $border-color;
$border-line-input: 1px solid $blue;
$border-line-input--focus: 1px solid $gray-dark;
$border-line-input--disabled: 1px solid $gray-light;
$border-line-input--error: 1px solid $danger-color;
$border-line-checkbox: 2px solid $gray-light;
$border-line-checkbox--active: 2px solid $blue;
$border-line-checkbox--disabled: 2px solid $gray-light;

// Button
$primary-button-color: $white;
$primary-button-color--disabled: $gray-light;
$primary-button-bg: $violet;
$primary-button-bg--hover: rgba($violet, 0.8);
$primary-button-bg--disabled: $gray-light;
$secondary-button-color: $blue;
$secondary-button-color--hover: rgba($blue, 0.8);
$secondary-button-color--disabled: $gray-light;
$secondary-button-bg: transparent;
$terciary-button-color: $gray-extra-dark;
$terciary-button-color--hover: rgba($gray-extra-dark, 0.8);
$terciary-button-color--disabled: $gray-light;
$link-button-color: $gray-dark;
$link-button-color--hover: $gray-dark;

// Background
$bg-color: $gray-light;

// select
$select-arrow-color: $violet;
$select-arrow-color--disabled: $gray-light;
$select-arrow-color--invalid: $red;
$select-label-color: $gray;
$select-label-color--disabled: $gray-light;
$select-label-color--invalid: $red;
$select-option-color--selected: $blue;
$select-option-bg--selected: $gray-light;
$select-option-bg--focused: $blue;
$select-option-bg--disabled: $gray-light;
$select-border--invalid: $red;
$select-msg--invalid: $red;

// datepicker
$datepicker-label-color: $gray;
$datepicker-option-bg--focused: $blue;
$datepicker-label-color--disabled: $gray-light;
$datepicker-option-bg--disabled: $gray-light;
$datepicker-hint-color--disabled: $gray-light;
$datepicker-arrow-color--disabled: $gray-light;
$datepicker-date-bg--selected: $blue;
$datepicker-icon-color--active: $blue;
$datepicker-icon-bg--focus: $blue;
$datepicker-calendar-date--hover: $blue;
$datepicker-calendar-date--selected: $blue;
$datepicker-label-color--invalid: $red;
$datepicker-msg--invalid: $red;
$datepicker-border--invalid: $red;

// slider
$slider-track-bg: $gray-light;
$slider-track-fill-bg: $blue;